
<!-- Describe Top Navigation bar -->
<div class="topnav">
<table class="table1">
    <tr>
        <th><a href="/">Home</a></th>
        <th><a href="../candles">Candles</a></th>
        <th>
            <!-- <a href="#oil">Oils</a> -->
            <div class="dropdown">
                <button class="dropbtn">
                    <a href="../oils">Oils</a>   
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="../diffuse_oils">Diffuse Oils</a>
                    <a href="../natural_oils">Natural Oils</a>
                </div>
            </div> 
        </th>
        <th>
            <!-- <a href="#accessory">Accessory</a> -->
            <div class="dropdown">
                <button class="dropbtn">
                    <a href="../accessory">Accessory</a>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="../burn_candles">Burn Candles</a>
                    <a href="../care_candles">Care Candles</a>
                </div>
            </div> 
        </th>
        <th><a href="../gift">Gift</a></th>
        <th><a href="../news">News</a></th>
        <th><a href="../contact">Contact</a></th>
    </tr>
</table>
</div>
</div>
<!-- 2. Combination in Center component-->
<div style="margin-left: 100px;margin-right: 100px;">
<p> Delivery policy</p>
</div>
