
        <!-- Describe Top Navigation bar -->
        <div class="topnav">
            <table class="table1">
                <tr>
                    <th><a href="/">Home</a></th>
                    <th><a href="../candles">Candles</a></th>
                    <th>
                        <!-- <a href="#oil">Oils</a> -->
                        <div class="dropdown">
                            <button class="dropbtn">
                              <a href="../oils">Oils</a>   
                              <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                              <a href="../diffuse_oils">Diffuse Oils</a>
                              <a href="../natural_oils">Natural Oils</a>
                            </div>
                        </div> 
                    </th>
                    <th>
                        <!-- <a href="#accessory">Accessory</a> -->
                        <div class="dropdown">
                            <button class="dropbtn">
                              <a href="../accessory">Accessory</a>
                              <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                              <a href="../burn_candles">Burn Candles</a>
                              <a href="../care_candles">Care Candles</a>
                            </div>
                        </div> 
                    </th>
                    <th><a href="../gift">Gift</a></th>
                    <th><a href="../news">News</a></th>
                    <th><a href="../contact">Contact</a></th>
                </tr>
            </table>
        </div>
    </div>
    <!-- 2. Combination in Center component-->
    <div style="margin-left: 100px;margin-right: 100px;margin-top: 20px;">
        <!-- 2.1. Menu bar for filter product information-->
        <div style="width: 780px;height: 550px; float: left;color: black;" >
            <div style="width: 375px ;float:left;">
                <img id="Candle_Image" src="../img/Automation/Image/1.jpg" width="350" height="350">
            </div>
            <div style="margin-left: 385px;">
                <h3 id="Candle_Name">3 Day WKND</h3>
                <h6>Status: Available</h6><br>
                <h3 id="Candle_Price">300.000 VND</h3><br>
                <h6>Gift: Match box</h6><br>
                <!-- Trigger/Open The Modal -->
                <button style="height:50px ;width: 200px;" id="myBtn">Buy Now</button>
                
                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close"></span>
                        <!-- <p style="color:red;">Some text in the Modal..</p> -->
                        <!-- Start Login form-->
                        <!-- <div class="card-body p-5 text-center">
                
                            <div class="mb-md-5 mt-md-4 pb-5">
                
                            <h2 class="fw-bold mb-2 text-uppercase">LOGIN</h2>
                            <p class="text-white-50 mb-5">Please enter your login and password!</p>
                
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                <input type="email" id="typeEmailX" class="form-control form-control-lg" />
                                <label class="form-label" for="typeEmailX">Email</label>
                            </div>
                
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                                <label class="form-label" for="typePasswordX">Password</label>
                            </div>
                
                            <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
                
                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                
                            <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                            </div>
                
                            </div>
                
                            <div>
                            <p class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
                            </p>
                            </div>
                
                        </div> -->
                        <p>You did not login currently, please login first</p>
                        <button style="height:50px ;width: 200px;" id="LoginButton" >Login Now</button>
                        <a href="../login_handling" id="LoginButtonLink" style="text-decoration: none;visibility: hidden;"></a>
                        <a href="../payment_handling" id="PaymentButtonLink" style="text-decoration: none;visibility: hidden;"></a>
                        <button style="height:50px ;width: 200px;" id="CancelButton">Cancel</button>
                        <!-- End Login form-->
                    </div>
                </div>
                
                <script>
                    // Get the modal
                    var modal = document.getElementById("myModal");
                    
                    // Get the button that opens the modal
                    var btn = document.getElementById("myBtn");
                    var CancelButton = document.getElementById("CancelButton");
                    var LoginButton = document.getElementById("LoginButton");
                    var LoginButtonLink = document.getElementById("LoginButtonLink");
                    var PaymentButtonLink = document.getElementById("PaymentButtonLink");
                    var CurrentUserValid = document.getElementById("User_Account");
                    
                    // Get the <span> element that closes the modal
                    var span = document.getElementsByClassName("close")[0];
                    
                    // When the user clicks the button, open the modal 
                    btn.onclick = function() {
                        // Step 1: Check authentication is completed or not
                        //          + If completed, redirect to payment logic
                        //          + If not completed, pop up for login again or still only check product and payment later
                        console.log(`CurrentUser is ${CurrentUserValid.innerHTML} and type is ${typeof(CurrentUserValid.innerHTML)}`);
                        if(CurrentUserValid.innerHTML == null){
                            modal.style.display = "block";
                            console.log("authentication did not complete!");
                        }
                        else {
                            console.log("authentication completed!");
                            PaymentButtonLink.click(); // redirect to payment handling
                        }
                        
                    }

                    CancelButton.onclick = function() {
                        modal.style.display = "none";
                    }

                    LoginButton.onclick = function() {
                        LoginButtonLink.click();
                    }
                    
                    // When the user clicks on <span> (x), close the modal
                    // span.onclick = function() {
                    // modal.style.display = "none";
                    // }
                    
                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                    }
                    function Buy_Product(){};       // Additional action        
                </script>
            </div>
            <script>
                Get_Candle_Information();
                function Get_Candle_Information() {
                    var receivedMessage = "";
                    const xhttp = new XMLHttpRequest();
                    xhttp.open("POST", "/candle_information");
                    xhttp.setRequestHeader( 
                    "Content-Type", "application/json" 
                    ); 
                    var data = JSON.stringify( 
                        { name: "getdetailinfor", email: "testagain" } 
                    ); 
                    xhttp.send(data);
                    // Create a state change callback 
                    xhttp.onreadystatechange = function () { 
                        if (xhttp.readyState === 4 && 
                            xhttp.status === 200) { 
                            // Print received data from server 
                            receivedMessage = this.responseText;
                            receivedMessage = JSON.parse(receivedMessage);
                            // document.getElementById("demo").innerHTML = receivedMessage[0].name; 
                            let stringtemp = "";
                            let myarray = "";
                            stringtemp = `${receivedMessage.name}`;
                            myarray = stringtemp.replaceAll(" ","_"); // replace all space in string with underscore
                            document.getElementById('Candle_Image').src = `${receivedMessage.image}`; 
                            document.getElementById('Candle_Price').innerHTML = `${receivedMessage.price}`;
                            document.getElementById('Candle_Name').innerHTML = `${receivedMessage.name}`;
                        } 
                    }; 
                    // setTimeout(Get_Candle_Information, 5000); 
                    
                }
            </script>
        </div>
        <!-- 2.2. Menu bar for showing product information-->
        <div style="margin-left: 800px;height: 550px; color: black; background-color: red;">
            <h3>Right side 1</h3>
            <!-- <button type="button" onclick="loadDoc()">Try it</button> -->
            <!-- <p id="demo"> hello</p> -->
            <table style="border-spacing: 35px;">
                <tr>
                    <th>
                        <a id="RouteIDA11" href="/candle_information" style="text-decoration: none; color: black;">
                        <img id="DisplayImageA11" src="../img/Automation/Image/1.jpg" width="200" height="200">
                        <p id="DisplayNameA11" style="font-size: 20px;">Candle 1 </p>
                        <p id="DisplayPriceA11" style="font-size: 20px;">285.000 VND</p>
                        </a>
                    </th>
                </tr>
            </table>
        </div>
    </div>
    <!-- 3. Combination in Center component-->
    <div style="margin-left: 100px;margin-right: 100px;margin-top: 20px;margin-bottom: 20px;">
        <!-- 3.1. Menu bar for filter product information-->
        <div style="width: 780px;height: 550px; float: left;color: black;background-color: orange;" >
            <h3>Left side 2</h3>
            <table>
                <tr>
                    <th>
                        <h6 style="text-align: left;">Search</h6>
                        <form action="/action_page.php">
                            <input type="text" placeholder="Search your product..." name="search" style="height:40px ;width:200px;">
                            <button type="submit" style="height:40px ;width: 200px;"><i class="fa fa-search"></i></button>
                        </form>
                        <br>
                    </th>
                </tr>
            </table>
            <form style="text-align: left;" action="/action_page2.php">
                <table>
                    <tr>
                        <th>
                            <h6 style="text-align: left;">Type</h6>
                            <input type="radio" id="candle" name="fav_language" value="candle">
                            <label style="font-size: 20px;" for="candle">Candle</label><br>
                            <input type="radio" id="oil" name="fav_language" value="oil">
                            <label style="font-size: 20px;" for="oil">Oil</label><br>
                            <input type="radio" id="accessory" name="fav_language" value="accessory">
                            <label style="font-size: 20px;" for="accessory">Accessory</label><br>
                            <input type="radio" id="gift" name="fav_language" value="gift">
                            <label style="font-size: 20px;" for="gift">Gift</label>
                        </th>
                    </tr>
                </table>
            </form>
        </div>
        <!-- 3.2. Menu bar for showing product information-->
        <div style="margin-left: 800px;height: 550px; color: black; background-color:green;">
            <h3>Right side 2</h3>
            <!-- <button type="button" onclick="loadDoc()">Try it</button> -->
            <!-- <p id="demo"> hello</p> -->
            <table style="border-spacing: 35px;">
                <tr>
                    <th>
                        <a id="RouteIDA11" href="/candle_information" style="text-decoration: none; color: black;">
                        <img id="DisplayImageA11" src="../img/Automation/Image/1.jpg" width="200" height="200">
                        <p id="DisplayNameA11" style="font-size: 20px;">Candle 1 </p>
                        <p id="DisplayPriceA11" style="font-size: 20px;">285.000 VND</p>
                        </a>
                    </th>
                </tr>
            </table>
        </div>
    </div>
